:root {
  --font-family--base: "Rubik", sans-serif;
  --font-style--base: normal;
  --font-style--italic: italic;
  --font-weight--base: 400;
  --font-weight--bold: 500;
  --line-height--base: 1.5;
  --line-height--headings: 1.2;
  --font-size: 16px;
  --runningtext--spacer: 1rem;
  --font-family--decorative: var(--font-family--base);
  --font-weight--decorative: var(--font-weight--bold);
  --font-style--decorative: var(--font-style--base);
  --color--foreground: #000000;
  --color--background: transparent;
  --color--background-accent: #eeeeee;
  --color--highlight: #aa272f;
  --color--highlight-inverse: #ffffff;
  --color--highlight-accent: #d54851;
  font-family: var(--font-family--base);
  font-style: var(--font-style--base);
  font-weight: var(--font-weight--base);
  font-size: var(--font-size);
  line-height: var(--line-height--base);
  color: var(--color--foreground);
  background-color: var(--color--background);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

b, strong {
  font-weight: var(--font-weight--bold);
}

i, em {
  font-style: var(--font-style--italic);
}

h1, .h1 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h1:last-child, .h1:last-child {
  margin-bottom: 0;
}

h2, .h2 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h2:last-child, .h2:last-child {
  margin-bottom: 0;
}

h3, .h3 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h3:last-child, .h3:last-child {
  margin-bottom: 0;
}

h4, .h4 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h4:last-child, .h4:last-child {
  margin-bottom: 0;
}

h5, .h5 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h5:last-child, .h5:last-child {
  margin-bottom: 0;
}

h6, .h6 {
  font-family: var(--font-family--decorative);
  font-style: var(--font-style--decorative);
  font-weight: var(--font-weight--bold);
  line-height: var(--line-height--headings);
  margin-top: 0;
  margin-bottom: 1em;
}
h6:last-child, .h6:last-child {
  margin-bottom: 0;
}

a {
  color: var(--color--highlight);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--color--highlight-accent);
}

p, ol, ul, dl, table, blockquote {
  margin-top: 0;
  margin-bottom: var(--runningtext--spacer);
}
p:last-child, ol:last-child, ul:last-child, dl:last-child, table:last-child, blockquote:last-child {
  margin-bottom: 0;
}

img, svg {
  vertical-align: middle;
  border-style: none;
}

iframe {
  border: 0;
}

button, input[type=submit], input[type=button], .button, .btn--primary {
  display: inline-block;
  cursor: pointer;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  line-height: 1.15;
  padding: 0.5rem 1rem;
  border: 0;
  font-size: 1em;
}
button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus, input[type=button]:hover, input[type=button]:focus, .button:hover, .button:focus, .btn--primary:hover, .btn--primary:focus {
  background-color: var(--color--highlight-accent);
  color: var(--color--highlight-inverse);
}
button.disabled, button[disabled], input[type=submit].disabled, input[type=submit][disabled], input[type=button].disabled, input[type=button][disabled], .button.disabled, .button[disabled], .btn--primary.disabled, .btn--primary[disabled] {
  cursor: not-allowed;
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=radio], input[type=checkbox], select {
  font-size: 1em;
  line-height: 1.15;
}

.field--imagefile picture, .field--imagefile img, .field--imagefiles picture, .field--imagefiles img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  margin: -1px !important;
}

.region--invisible {
  display: none;
}

/*# sourceMappingURL=dgm_base.css.map */
