/**
 * Snow is fairly same on TV and touch, so we include it in base theme
 */
.snow {
  --color--highlight: #477d8b;
  --color--highlight-inverse: white;
}
.snow--full, .snow--slide {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.snow--full .node__title, .snow--slide .node__title {
  display: none;
}
.snow--tile {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
.snow--tile a, .snow--tile a:hover, .snow--tile a:focus {
  color: var(--color--highlight-inverse);
}
.snow__row {
  padding: 1rem;
  display: flex;
  flex: 1 1 auto;
}
@media (min-width: 1024px) and (min-height: 700px) {
  .snow__row {
    flex: 1 1 33.3333%;
  }
}
@media (max-width: 1023px) {
  .snow__row {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .snow__row {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
.snow__row--depth, .snow__row--lifts_slopes {
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  margin: calc(var(--tile--gap) * -1) calc(var(--main--padding) * -1) 0;
}
.snow__row--lifts_slopes {
  --color--highlight: #9ac1cb;
  --color--highlight-inverse: black;
}
.snow__row--additional {
  flex-flow: column nowrap;
  margin-bottom: calc(var(--tile--gap) * -1);
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--lifts--font-size);
}
.snow__entry {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
@media (max-width: 1023px) {
  .snow__entry + .snow__entry {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .snow__entry + .snow__entry::before {
    content: "";
    width: 80vw;
    height: 3px;
    background-color: var(--color--foreground);
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
  .snow__row--depth .snow__entry + .snow__entry::before {
    background-color: var(--color--highlight-inverse);
  }
}
.snow__additionaltext:not(:last-child)::after {
  content: " - ";
}
@media (max-width: 767px) {
  .snow__additionaltext:not(:last-child)::after {
    content: "";
    display: block;
  }
}
.snow__avalanchetext--303 {
  color: #ff9900;
}
.snow__avalanchetext--304, .snow__avalanchetext--305 {
  color: #ff0000;
}
.snow__avalanchetext--305 {
  animation: avalanche_blink 2s ease 0s infinite;
}
@keyframes avalanche_blink {
  0% {
    opacity: 1;
    color: #ff0000;
  }
  50% {
    opacity: 0.5;
    color: #000000;
  }
  100% {
    opacity: 1;
    color: #ff0000;
  }
}
.snow__line {
  --depth--font-size: 3rem;
  --lifts--font-size: 1rem;
  padding: 0 5px;
  font-size: var(--lifts--font-size);
}
.snow__line--label {
  font-weight: var(--font-weight--bold);
  font-size: 1.3333rem;
}
@media (min-width: 1281px) {
  .snow--full .snow__line {
    --depth--font-size: 4rem;
    --lifts--font-size: 1.5rem;
  }
  .snow--full .snow__line--label {
    font-weight: var(--font-weight--bold);
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .snow--tile2x1 .snow__line {
    padding: 5px 5px 0;
  }
  .snow--tile2x1 .snow__line:first-child {
    padding-top: 1rem;
  }
  .snow--tile2x1 .snow__line:last-child {
    padding-bottom: 1rem;
  }
}
.snow__line--icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: var(--depth--font-size);
  line-height: 1;
}
.snow__line--icon > * + * {
  margin-left: 1rem;
}
.snow--tile3x2 .snow__line--icon > * + * {
  margin-left: 3rem;
}
.snow--tile2x2 .snow__line--icon > * + *, .snow--tile2x1 .snow__line--icon > * + * {
  margin-left: 2rem;
}
.snow--tile3x2 .snow__line--icon, .snow--tile2x2 .snow__line--icon {
  --depth--font-size: 6rem;
}
.snow__depthunit {
  font-size: var(--lifts--font-size);
}
.snow__icon > svg {
  display: block;
  height: var(--depth--font-size);
  width: auto;
}

/*# sourceMappingURL=snow.css.map */
