/**
 * Weather is fairly same on TV and touch, so we include it in base theme
 */
.weather--full, .weather--slide {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.weather--full .node__title, .weather--slide .node__title {
  display: none;
}
.weather--tile, .weather__row--today {
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
.weather--tile a, .weather--tile a:hover, .weather--tile a:focus, .weather__row--today a, .weather__row--today a:hover, .weather__row--today a:focus {
  color: var(--weather--color--foreground);
}
.weather__row {
  padding: 1rem;
  display: flex;
  flex: 1 1 auto;
}
@media (min-width: 1024px) and (min-height: 700px) {
  .weather__row {
    flex: 1 1 33.3333%;
  }
}
@media (max-width: 1023px) {
  .weather__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .weather__row {
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
}
.weather__row--today {
  margin: calc(var(--tile--gap) * -1) calc(var(--main--padding) * -1);
}
.weather__row--longterm {
  margin-bottom: calc(var(--tile--gap) * -1);
  position: relative;
}
.weather__row--longterm::before {
  content: "";
  width: 80vw;
  height: 3px;
  background-color: var(--color--foreground);
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}
.weather__entry {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
@media (max-width: 1023px) {
  .weather__entry + .weather__entry {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .weather__entry + .weather__entry::before {
    content: "";
    width: 80vw;
    height: 3px;
    background-color: var(--color--foreground);
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
  .weather__row--today .weather__entry + .weather__entry::before {
    background-color: var(--color--highlight-inverse);
  }
}
.weather__line {
  --temperature--font-size: 3rem;
  --description--font-size: 1rem;
  padding: 0 5px;
  font-size: var(--description--font-size);
}
.weather__line--time {
  font-weight: var(--font-weight--bold);
  font-size: 1.3333rem;
}
@media (min-width: 1281px) {
  .weather--full .weather__line {
    --temperature--font-size: 4rem;
    --description--font-size: 1.5rem;
  }
  .weather--full .weather__line--time {
    font-weight: var(--font-weight--bold);
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .weather--tile2x1 .weather__line {
    padding: 5px 5px 0;
  }
  .weather--tile2x1 .weather__line:first-child {
    padding-top: 1rem;
  }
  .weather--tile2x1 .weather__line:last-child {
    padding-bottom: 1rem;
  }
}
.weather__line--icon_temp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: var(--temperature--font-size);
  line-height: 1;
}
.weather__line--icon_temp > * + * {
  margin-left: 1rem;
}
.weather--tile3x2 .weather__line--icon_temp > * + * {
  margin-left: 3rem;
}
.weather--tile2x2 .weather__line--icon_temp > * + *, .weather--tile2x1 .weather__line--icon_temp > * + * {
  margin-left: 2rem;
}
.weather--tile3x2 .weather__line--icon_temp, .weather--tile2x2 .weather__line--icon_temp {
  --temperature--font-size: 6rem;
}
.weather__icon > svg {
  display: block;
  height: var(--temperature--font-size);
  width: auto;
}

/*# sourceMappingURL=weather.css.map */
