@import 'root.scss';

.text-large {
  font-size: 1.25em;
}
.text-small {
  font-size: 0.85em;
}
.btn--primary {
  display: inline-block;
  margin: 0;
  padding: calc(var(--btn--padding-y-top) - var(--btn--border-width)) calc(var(--btn--padding-x) - var(--btn--border-width)) calc(var(--btn--padding-y-bottom) - var(--btn--border-width));
  border: var(--btn--border-width) solid;
  border-radius: var(--btn--border-radius);
  --btn--color-foreground: var(--btn-primary--color-foreground, var(--color--highlight-inverse));
  --btn--color-background: var(--btn-primary--color-background, var(--color--highlight));
  --btn--border-color: var(--btn-primary--border-color, var(--btn--color-background));
  color: var(--btn--color-foreground);
  background-color: var(--btn--color-background);
  border-color: var(--btn--border-color);
  font-family: var(--btn--font-family);
  font-weight: var(--btn--font-weight);
  font-style: var(--btn--font-style);
  font-size: var(--btn--font-size);
  line-height: var(--btn--line-height);
  letter-spacing: var(--btn--letter-spacing);
  text-transform: var(--btn--text-transform);
  white-space: nowrap;
  text-align: var(--btn--text-align);
  cursor: pointer;
  transition: var(--transition--fast);
}
