@import 'root.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

b, strong {
  font-weight: var(--font-weight--bold);
}

i, em {
  font-style: var(--font-style--italic);
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    font-family: var(--font-family--decorative);
    font-style: var(--font-style--decorative);
    font-weight: var(--font-weight--bold);
    line-height: var(--line-height--headings);
    margin-top: 0;
    // "em" here so important headings usually get more margins by default,
    // because their own font also is usually is larger
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

a {
  color: var(--color--highlight);
  text-decoration: none;

  &:hover, &:focus {
    color: var(--color--highlight-accent);
  }
}

p, ol, ul, dl, table, blockquote {
  margin-top: 0;
  margin-bottom: var(--runningtext--spacer);

  &:last-child {
    margin-bottom: 0;
  }
}

img, svg {
  vertical-align: middle;
  border-style: none;
}

iframe {
  border: 0;
}

button, input[type=submit], input[type=button], .button, .btn--primary {
  display: inline-block;
  cursor: pointer;
  background-color: var(--color--highlight);
  color: var(--color--highlight-inverse);
  line-height: 1.15;
  padding: 0.5rem 1rem;
  border: 0;
  font-size: 1em;

  &:hover, &:focus {
    background-color: var(--color--highlight-accent);
    color: var(--color--highlight-inverse);
  }

  &.disabled, &[disabled] {
    cursor: not-allowed;
  }
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=radio], input[type=checkbox], select {
  font-size: 1em;
  line-height: 1.15;
}

.field--imagefile, .field--imagefiles {
  picture, img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
}

.visually-hidden {
  margin: -1px !important;
}

.region--invisible {
  display: none;
}
