:root {
  --font-family--base: 'Rubik', sans-serif;
  --font-style--base: normal;
  --font-style--italic: italic;
  --font-weight--base: 400;
  --font-weight--bold: 500;

  --line-height--base: 1.5;
  --line-height--headings: 1.2;

  --font-size: 16px;
  --runningtext--spacer: 1rem;

  --font-family--decorative: var(--font-family--base);
  --font-weight--decorative: var(--font-weight--bold);
  --font-style--decorative: var(--font-style--base);

  --color--foreground: #000000;
  --color--background: transparent;
  --color--background-accent: #eeeeee;
  --color--highlight: #aa272f;
  --color--highlight-inverse: #ffffff;
  --color--highlight-accent: #d54851;

  font-family: var(--font-family--base);
  font-style: var(--font-style--base);
  font-weight: var(--font-weight--base);

  font-size: var(--font-size);
  line-height: var(--line-height--base);

  color: var(--color--foreground);
  background-color: var(--color--background);
}

