/**
 * Snow is fairly same on TV and touch, so we include it in base theme
 */

.snow {
  --color--highlight: #477d8b;
  --color--highlight-inverse: white;

  &--full, &--slide {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    .node__title {
      display: none;
    }
  }

  &--tile {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;

    a, a:hover, a:focus {
      color: var(--color--highlight-inverse);
    }
  }

  &__row {
    padding: 1rem;
    display: flex;
    flex: 1 1 auto;

    @media (min-width: 1024px) and (min-height: 700px) {
      flex: 1 1 33.3333%;
    }


    @media (max-width: 1023px) {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 1024px) {
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: stretch;
    }

    &--depth, &--lifts_slopes {
      background-color: var(--color--highlight);
      color: var(--color--highlight-inverse);
      margin: calc(var(--tile--gap) * -1) calc(var(--main--padding) * -1) 0;
    }

    &--lifts_slopes {
      --color--highlight: #9ac1cb;
      --color--highlight-inverse: black;
    }

    &--additional {
      flex-flow: column nowrap;
      margin-bottom: calc(var(--tile--gap) * -1);
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: var(--lifts--font-size);
    }
  }

  &__entry {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;

    & + & {
      @media (max-width: 1023px) {
        margin-top: 1rem;
        padding-top: 1rem;

        &::before {
          content: '';
          width: 80vw;
          height: 3px;
          background-color: var(--color--foreground);
          position: absolute;
          top: -1px;
          left: 50%;
          transform: translateX(-50%);

          .snow__row--depth & {
            background-color: var(--color--highlight-inverse);
          }
        }
      }
    }
  }

  &__additionaltext {
    &:not(:last-child) {
      &::after {
        content: ' - ';

        @media (max-width: 767px) {
          content: '';
          display: block;
        }
      }
    }
  }

  &__avalanchetext {
    &--303 {
      color: #ff9900;
    }
    &--304, &--305 {
      color: #ff0000;
    }
    &--305 {
      @at-root {
        @keyframes avalanche_blink {
          0% {
            opacity: 1;
            color: #ff0000;
          }
          50% {
            opacity: 0.5;
            color: #000000;
          }
          100% {
            opacity: 1;
            color: #ff0000;
          }
        }
      }
      animation: avalanche_blink 2s ease 0s infinite;
    }
  }

  &__line {
    --depth--font-size: 3rem;
    --lifts--font-size: 1rem;
    padding: 0 5px;
    font-size: var(--lifts--font-size);

    &--label {
      font-weight: var(--font-weight--bold);
      font-size: 1.3333rem;
    }

    .snow--full & {
      @media (min-width: 1281px) {
        --depth--font-size: 4rem;
        --lifts--font-size: 1.5rem;

        &--label {
          font-weight: var(--font-weight--bold);
          font-size: 2rem;
        }
      }
    }

    .snow--tile2x1 & {
      @media (max-width: 768px) {
        padding: 5px 5px 0;

        &:first-child {
          padding-top: 1rem;
        }

        &:last-child {
          padding-bottom: 1rem;
        }
      }
    }

    &--icon {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      font-size: var(--depth--font-size);
      line-height: 1;

      > * + * {
        margin-left: 1rem;

        .snow--tile3x2 & {
          margin-left: 3rem;
        }

        .snow--tile2x2 &, .snow--tile2x1 & {
          margin-left: 2rem;
        }
      }

      .snow--tile3x2 &, .snow--tile2x2 & {
        --depth--font-size: 6rem;
      }
    }
  }

  &__depth {
    &unit {
      font-size: var(--lifts--font-size);
    }
  }

  &__icon {
    > svg {
      display: block;
      height: var(--depth--font-size);
      width: auto;
    }
  }
}

