/**
 * Weather is fairly same on TV and touch, so we include it in base theme
 */

.weather {
  &--full, &--slide {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    .node__title {
      display: none;
    }
  }

  &--tile, &__row--today {
    background-color: var(--color--highlight);
    color: var(--color--highlight-inverse);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;

    a, a:hover, a:focus {
      color: var(--weather--color--foreground);
    }
  }

  &__row {
    padding: 1rem;
    display: flex;
    flex: 1 1 auto;

    @media (min-width: 1024px) and (min-height: 700px) {
      flex: 1 1 33.3333%;
    }


    @media (max-width: 1023px) {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    @media (min-width: 1024px) {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: stretch;
    }

    &--today {
      margin: calc(var(--tile--gap) * -1) calc(var(--main--padding) * -1);
    }

    &--longterm {
      margin-bottom: calc(var(--tile--gap) * -1);
      position: relative;


      &::before {
        content: '';
        width: 80vw;
        height: 3px;
        background-color: var(--color--foreground);
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__entry {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;

    & + & {
      @media (max-width: 1023px) {
        margin-top: 1rem;
        padding-top: 1rem;

        &::before {
          content: '';
          width: 80vw;
          height: 3px;
          background-color: var(--color--foreground);
          position: absolute;
          top: -1px;
          left: 50%;
          transform: translateX(-50%);

          .weather__row--today & {
            background-color: var(--color--highlight-inverse);
          }
        }
      }
    }
  }

  &__line {
    --temperature--font-size: 3rem;
    --description--font-size: 1rem;
    padding: 0 5px;
    font-size: var(--description--font-size);

    &--time {
      font-weight: var(--font-weight--bold);
      font-size: 1.3333rem;
    }

    .weather--full & {
      @media (min-width: 1281px) {
        --temperature--font-size: 4rem;
        --description--font-size: 1.5rem;

        &--time {
          font-weight: var(--font-weight--bold);
          font-size: 2rem;
        }
      }
    }

    .weather--tile2x1 & {
      @media (max-width: 768px) {
        padding: 5px 5px 0;

        &:first-child {
          padding-top: 1rem;
        }

        &:last-child {
          padding-bottom: 1rem;
        }
      }
    }

    &--icon_temp {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      font-size: var(--temperature--font-size);
      line-height: 1;

      > * + * {
        margin-left: 1rem;

        .weather--tile3x2 & {
          margin-left: 3rem;
        }

        .weather--tile2x2 &, .weather--tile2x1 & {
          margin-left: 2rem;
        }
      }

      .weather--tile3x2 &, .weather--tile2x2 & {
        --temperature--font-size: 6rem;
      }
    }
  }

  &__icon {
    > svg {
      display: block;
      height: var(--temperature--font-size);
      width: auto;
    }
  }
}

