{##
 #
 # This template will work for most "referencing" paragraphs like poi, event etc:
 # the paragraph template shall be completely permeable/invisible,
 # all styling is done on the referenced entity
 #
 ##}
{{ content }}
