@use "../../../../../libraries/glide/src/assets/sass/glide.core.scss"  as *;

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: white;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
    transform: translateY(-50%);
    line-height: 1;

    &:hover, &:focus { outline: none; }

    &#{$sm}left {
      left: 1rem;
    }

    &#{$sm}right {
      right: 1rem;
    }

    &#{$sm}disabled {
      opacity: 0.33;
    }
  }

  &#{$se}bullets {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%);
  }

  &#{$se}bullet {
    background-color: rgba(255, 255, 255, 0.5);
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.25em;

    &:hover, &:focus {
      outline: none;
      border: 2px solid white;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &#{$sm}active {
      background-color: white;
    }
  }

  &#{$sm}swipeable {
    cursor: grab;
  }

  &#{$sm}dragging {
    cursor: grabbing;
  }
}

/**
 * this is a fix for chromium when browser zoom factor <> 100%
 */
.field__item--type-image.glide__slide {
  > img, picture {
    width: 100%;
  }
}
