{% import '@dgm_base/oberlandwetter.macro.twig' as oberlandwetter %}
{{ attach_library('dgm_base/weather') }}

{% block entity %}
  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}
      <div class="weather__row weather__row--today">
        <div class="weather__entry">
          {% set day = rawdata['#data'].forecast|first %}
          {{ oberlandwetter.render(day, '06') }}
          <div class="weather__line weather__line--time">{{ 'today morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ oberlandwetter.render(day, '12') }}
          <div class="weather__line weather__line--time">{{ 'today afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ oberlandwetter.render(day, '18') }}
          <div class="weather__line weather__line--time">{{ 'today evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--tomorrow">
        <div class="weather__entry">
          {# converting XML with same tagnames to a weird array with identical (!!!) keynames, do not access with numeric index #}
          {% for item in rawdata['#data'].forecast|slice(1,1) %}
            {% set day = item %}
          {% endfor %}
          {{ oberlandwetter.render(day, '06') }}
          <div class="weather__line weather__line--time">{{ 'tomorrow morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ oberlandwetter.render(day, '12') }}
          <div class="weather__line weather__line--time">{{ 'tomorrow afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ oberlandwetter.render(day, '18') }}
          <div class="weather__line weather__line--time">{{ 'tomorrow evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--longterm">
        {% for item in rawdata['#data'].forecast|slice(2,3) %}
          {% set daystring = '+ ' ~ (loop.index0 + 2) ~ ' days' %}
          {% set day = item %}
          <div class="weather__entry">
            {{ oberlandwetter.render(day, '12') }}
            <div class="weather__line weather__line--time">{{ daystring|date('U')|format_date('custom', 'D, d.m.') }}</div>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
