{% import '@dgm_base/geosphere.macro.twig' as wetter %}
{{ attach_library('dgm_base/weather') }}

{% block entity %}
  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}
      <div class="weather__row weather__row--today">
        {% set day = "today 12:00"|date('Ymd') %}
        <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '06')) }}
          <div class="weather__line weather__line--time">{{ 'today morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '12')) }}
          <div class="weather__line weather__line--time">{{ 'today afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '18')) }}
          <div class="weather__line weather__line--time">{{ 'today evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--tomorrow">
        {% set day = "tomorrow 12:00"|date('Ymd') %}
        <div class="weather__entry">
          {# converting XML with same tagnames to a weird array with identical (!!!) keynames, do not access with numeric index #}
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '06')) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '12')) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '18')) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--longterm">
        {% for i in 2..4 %}
          {% set daystring = "+" ~ i ~ " days 12:00" %}
          {% set day = daystring|date('Ymd') %}
          <div class="weather__entry">
          {{ wetter.render(attribute(attribute(rawdata['#data'], day), '12')) }}
            <div class="weather__line weather__line--time">{{ daystring|date('U')|format_date('custom', 'D, d.m.') }}</div>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
