{% import '@dgm_base/daswetter.macro.twig' as daswetter %}
{{ attach_library('dgm_base/weather') }}

{% block entity %}
  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}
      <div class="weather__row weather__row--today">
        <div class="weather__entry">
          {% set day = rawdata['#data'].day|first %}
          {% set hour = FALSE %}
          {# twig can not reliable access array keys directly when there are duplicate keynames (coming from same tagname in XML) #}
          {% for houritem in day.hour %}
            {% if loop.index0 == 7 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'today morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {% for houritem in day.hour %}
            {% if loop.index0 == 12 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'today afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {% for houritem in day.hour %}
            {% if loop.index0 == 18 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'today evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--tomorrow">
        <div class="weather__entry">
          {% for dayitem in rawdata['#data'].day %}
            {% if loop.index0 == 1 %}
              {% set day = dayitem %}
            {% endif %}
          {% endfor %}
          {% for houritem in day.hour %}
            {% if loop.index0 == 7 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow morning'|t }}</div>
        </div>
        <div class="weather__entry">
          {% for houritem in day.hour %}
            {% if loop.index0 == 12 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow afternoon'|t }}</div>
        </div>
        <div class="weather__entry">
          {% for houritem in day.hour %}
            {% if loop.index0 == 18 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ 'tomorrow evening'|t }}</div>
        </div>
      </div>

      <div class="weather__row weather__row--longterm">
        <div class="weather__entry">
          {% for dayitem in rawdata['#data'].day %}
            {% if loop.index0 == 2 %}
              {% set day = dayitem %}
            {% endif %}
          {% endfor %}
          {% for houritem in day.hour %}
            {% if loop.index0 == 4 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ '+ 2 days'|date('U')|format_date('custom', 'D, d.m.') }}</div>
        </div>
        <div class="weather__entry">
          {% for dayitem in rawdata['#data'].day %}
            {% if loop.index0 == 3 %}
              {% set day = dayitem %}
            {% endif %}
          {% endfor %}
          {% for houritem in day.hour %}
            {% if loop.index0 == 4 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ '+ 3 days'|date('U')|format_date('custom', 'D, d.m.') }}</div>
        </div>
        <div class="weather__entry">
          {% for dayitem in rawdata['#data'].day %}
            {% if loop.index0 == 4 %}
              {% set day = dayitem %}
            {% endif %}
          {% endfor %}
          {% for houritem in day.hour %}
            {% if loop.index0 == 4 %}
              {% set hour = houritem %}
            {% endif %}
          {% endfor %}
          {{ daswetter.render(hour) }}
          <div class="weather__line weather__line--time">{{ '+ 4 days'|date('U')|format_date('custom', 'D, d.m.') }}</div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
