{{ attach_library('dgm_base/snow') }}

{% block entity %}
  {% set xml = rawdata['#data'] %}
  {# update 2023-12-04: accessing numeric simplexml indexes of simplexmlelements does no longer work with D10 #}
  {# to retrieve an attribute, invoke PHP's SimpleXmlElement::attributes() "xml.my_node.attributes.my_attribute" #}
  {# to transform a SimpleXmlElement to a scalar value, invoke PHP's SimpleXmlElement::__toString() via "my_element|render" #}
  {% set is_operating = (xml.bergfexStatusIcon.attributes.id|render == 1 and xml.operation.attributes.id|render not in [403]) %}

  <div{{ attributes }}>
    {% block title %}
      <h{{ header_level|default('1') }}{{ title_attributes.addClass('node__title', 'node__title--' ~ node.bundle, 'hidden@lg') }}>
        {{ label }}
      </h{{ header_level|default('1') }}>
    {% endblock %}

    {% block content %}
      <div class="snow__row snow__row--depth">
        <div class="snow__entry">
          <div class="snow__line snow__line--label">{{ 'Snow depth mountain'|t }}</div>

          {% set villageItem = FALSE %}
          {% set baseStationItem = FALSE %}
          {% set topStationItem = FALSE %}
          {% for key, item in xml.snow.itemSnow %}
            {% if loop.index0 == 0 %}
              {% set villageItem = item %}
            {% elseif loop.index0 == 1 %}
              {% set baseStationItem = item %}
            {% elseif loop.index0 == 2 %}
              {% set topStationItem = item %}
            {% endif %}
          {% endfor %}

          {% set depth = topStationItem.depth|render %}
          {% set depth = depth|default(0) %}
          <div class="snow__line snow__line--icon snow__line--depth_top">
            <span class="snow__icon">{{ source('@dgm_base/../images/snow/depth--mountain.svg') }}</span>
            <span class="snow__temp">{{ depth }}cm</span>
          </div>
          {% set fresh = topStationItem.depthFresh24|render %}
          {% set fresh = fresh ?? 0 %}
          {% if not topStationItem.depth|render %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'No info'|t }}</span>
            </div>
          {% elseif fresh %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'Fresh snow'|t }}: {{ fresh }}cm</span>
            </div>
          {% endif %}
        </div>

        <div class="snow__entry">
          <div class="snow__line snow__line--label">{{ 'Snow depth valley'|t }}</div>

          {% set depth = baseStationItem.depth|render %}
          {% set depth = depth|default(villageItem.depth|render) %}
          {% set depth = depth|default(0) %}
          <div class="snow__line snow__line--icon snow__line--depth_top">
            <span class="snow__icon">{{ source('@dgm_base/../images/snow/depth--valley.svg') }}</span>
            <span class="snow__temp">{{ depth }}cm</span>
          </div>
          {% set fresh = baseStationItem.depthFresh24|render %}
          {% set fresh = fresh ?? villageItem.depthFresh24|render %}
          {% set fresh = fresh|default(0) %}
          {% if not baseStationItem.depth|render and not baseStationItem.depth|render %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'No info'|t }}</span>
            </div>
          {% elseif fresh %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'Fresh snow'|t }}: {{ fresh }}cm</span>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="snow__row snow__row--lifts_slopes">
        <div class="snow__entry">
          <div class="snow__line snow__line--label">{{ 'Open lifts'|t }}</div>

          {% set lifts = xml.openLifts|render %}
          {% set lifts = (lifts and is_operating) ? lifts : 0 %}
          <div class="snow__line snow__line--icon snow__line--depth_top">
            <span class="snow__icon">{{ source('@dgm_base/../images/snow/lifts.svg') }}</span>
            <span class="snow__temp">{{ lifts }}</span>
          </div>
          {% set condition_id = xml.conditionRunToValley.attributes.id|render %}
          {% set condition_id = condition_id|default(700) %}
          {% if lifts == 0 %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'Lifts closed'|t }}</span>
            </div>
          {% elseif condition_id != 700 %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'Run to valley'|t }}: {{ xml.conditionRunToValley }}</span>
            </div>
          {% endif %}
        </div>

        <div class="snow__entry">
          <div class="snow__line snow__line--label">{{ 'Open slopes'|t }}</div>

          {% set slopes = xml.openSlopes|render %}
          {% set slopes = slopes|default(xml.openSlopesCount|render) %}
          {% set slopes = slopes|default(0) %}
          <div class="snow__line snow__line--icon snow__line--depth_top">
            <span class="snow__icon">{{ source('@dgm_base/../images/snow/slopes.svg') }}</span>
            <span class="snow__temp">{{ slopes }}{% if xml.openSlopes|render %}km{% endif %}</span>
          </div>
          {% set snowcond = xml.conditionSnow.attributes.id|render %}
          {% set snowcond = snowcond|default(900) %}
          {% if not xml.openSlopes|render and not xml.openSlopesCount|render %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'No info'|t }}</span>
            </div>
          {% elseif snowcond != 900 %}
            <div class="snow__line snow__line--desc">
              <span class="snow__text snow__text--desc">{{ 'Snow condition'|t }}: {{ xml.conditionSnow }}</span>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="snow__row snow__row--additional">
        {% if not is_operating %}
          <div class="snow__line snow--line--additional">
            {{ 'The facilities are currently closed.'|t }}
          </div>
        {% endif %}

        {% set condition_id = xml.avalancheWarningLevel.attributes.id|render %}
        {% set condition_id = condition_id|default(300) %}
        {% if condition_id != 300 %}
          <div class="snow__line snow__line--additional">
            <span class="snow__additionaltext snow__avalanchetext--{{- condition_id -}}">
              <b>{{ 'Avalanche warning level'|t }}</b>: {{ xml.avalancheWarningLevel }}
            </span>
          </div>
        {% endif %}

        {% if xml.lengthNordicClassic|render or xml.lengthNordicSkating|render %}
          <div class="snow__line snow__line--additional">
            {% if xml.lengthNordicClassic|render %}
              <span class="snow__additionaltext">
                <b>{{ 'Nordic classic'|t }}</b>: {{ xml.lengthNordicClassic }} km
                {% set condition_id = xml.conditionNordicClassic.attributes.id|render %}
                {% set condition_id = condition_id|default(500) %}
                {% if condition_id != 500 %}
                  ({{- 'Condition'|t() -}}: {{ xml.conditionNordicClassic -}})
                {% endif %}
              </span>
            {% endif %}

            {% if xml.lengthNordicSkating|render %}
              <span class="snow__additionaltext">
                <b>{{ 'Nordic skating'|t }}</b>: {{ xml.lengthNordicSkating }} km
                {% set condition_id = xml.conditionNordicSkating.attributes.id|render %}
                {% set condition_id = condition_id|default(500) %}
                {% if condition_id != 500 %}
                  ({{- 'Condition'|t() -}}: {{ xml.conditionNordicSkating -}})
                {% endif %}
              </span>
            {% endif %}
          </div>
        {% endif %}

        {% for item in xml.addons.addon %}
          {% if loop.first %}
            <div class="snow__line snow__line--additional">
          {% endif %}
          {% if item.attributes.name|render %}
            <span class="snow__additionaltext"><b>{{ item.attributes.name }}</b>: {{ item }}</span>
          {% endif %}
          {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}

        {% if xml.operationRemarks|render %}
          <div class="snow__line snow__line--additional">
            {{ xml.operationRemarks }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
