{% block entity %}
  <div{{ attributes }}>
    {% block title %}
      {% if label and not page %}
        <h{{ header_level|default('3') }}{{ title_attributes.addClass('node__title') }}>
          <a href="{{ url }}">{{ label }}</a>
        </h{{ header_level|default('3') }}>
      {% endif %}
    {% endblock %}

    {% block content %}
      <div{{ content_attributes.addClass('node__content') }}>
        {{ content }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
