{% block container %}
  {% block library %}
    {{ attach_library('wt_dgm/tour') }}
  {% endblock %}

  <div{{ attributes }}>
    {% block content %}
      {% for item in items %}
        <div{{ item.attributes }}></div>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}
