{% macro icon(icon) %}{% apply spaceless %}
  {{ source('@dgm_base/../images/daswetter/' ~ icon ~ '.svg', ignore_missing = true) }}
{% endapply %}{% endmacro %}

{% macro render(element) %}
  {% import _self as daswetter %}
  <div class="weather__line weather__line--icon_temp">
    <span class="weather__icon">{{ daswetter.icon( element.symbol.attributes.value )}}</span>
    <span class="weather__temp">{{ element.temp.attributes.value }}°</span>
  </div>
  <div class="weather__line weather__line--desc">
    <span class="weather__text weather__text--desc">{{ element.symbol.attributes.desc }}</span>
  </div>
{% endmacro %}
