{% macro icon(icon) %}{% apply spaceless %}
  {{ source('@dgm_base/../images/geosphere_wetter/' ~ icon ~ '.svg', ignore_missing = true) }}
{% endapply %}{% endmacro %}

{% macro render(element) %}
  {% import _self as wetter %}


  <div class="weather__line weather__line--icon_temp">
    {% set symbol = element.symb|lower %}
    <span class="weather__icon">{{ wetter.icon( symbol )}}</span>
    <span class="weather__temp">{{ element.tl }}°</span>
  </div>
{# keine texte, symbolbeschreibung tw. zu lang
  <div class="weather__line weather__line--desc">
    <span class="weather__text weather__text--desc">{{ geospehre_symbol_description[symbol][language.id()] }}</span>
  </div>
#}
{% endmacro %}

{#
{% set geospehre_symbol_description = {
"a": {"de": "Sonne ohne Wolke", "en": "Sunny"},
"b": {"de": "Überwiegend sonnig", "en": "Mostly sunny"},
"c": {"de": "Sonne und Wolken", "en": "Sunny with clouds"},
"d": {"de": "Viele Wolken, etwas Sonne", "en": "Many clouds, some sun"},
"e": {"de": "Kompakte Wolken ohne Sonne", "en": "Dnse clouds, no sun"},
"f": {"de": "Sonne, Wolken, Regenschauer", "en": "Sun and rain"},
"g": {"de": "Kräftige Regenschauer, etwas Sonne", "en": "Heavy rain, some sun"},
"h": {"de": "Regenwetter", "en": "Rain"},
"i": {"de": "Ergiebiger oder starker Regen", "en": "Heavy rain"},
"j": {"de": "Dichte Wolken, etwas Regen", "en": "Dense clouds, some rain"},
"k": {"de": "Überwiegend bewölkt", "en": "Mostly cloudy"},
"l": {"de": "Leichte Schneeschauer, Sonne und Wolken", "en": "Light snowfall, some sun"},
"m": {"de": "Schneefall, überwiegend bewölkt mit etwas Sonne", "en": "Snowfall, mostly cloudy"},
"n": {"de": "Leichter Schneefall, überwiegend bewölkt", "en": "Light snowfall and cloudy"},
"o": {"de": "Mäßiger Schneefall, überwiegend bewölkt", "en": "Snowfall and cloudy"},
"p": {"de": "Starker Schneefall, überwiegend bewölkt", "en": "Heavy snowfall, cloudy"},
"q": {"de": "Schneeregen, Sonne und Wolken", "en": "Sleet, some sun"},
"r": {"de": "Schneeregen, überwiegend bewölkt", "en": "Sleet, mostly cloudy"},
"s": {"de": "Hochnebel, darüber eher sonnig", "en": "High fog, sunny above"},
"t": {"de": "Nebelig, über dem Nebel eher sonnig", "en": "Foggy, rather sunny above"},
"u": {"de": "Sonne und Quellwolken, Regenschauer und Gewitter möglich", "en": "Sun, rain and thunderstorms possible"},
"v": {"de": "Dichte Wolken, Regenschauer und Gewitter wahrscheinlich", "en": "Cloudy, rain and thunderstorms likely"},
"w": {"de": "Sonne und Wolken, Schneeregen und Gewitter wahrscheinlich", "en": "Sun and clouds, sleet and thunderstorms likely"},
"x": {"de": "Schneeregen, Gewitter wahrscheinlich", "en": "Sleet, thunderstorms likely"},
"y": {"de": "Sonne und Wolken, Schneeschauer, Gewitter wahrscheinlich", "en": "Sun and clouds, thunderstorms likely"},
"z": {"de": "Dichte Wolken, kräftige Schneeschauer, Gewitter wahrscheinlich", "en": "Cloudy, heavy snowfall and thunderstorms likely"},
} %}
#}
