{% macro icon(icon) %}{% apply spaceless %}
  {{ source('@dgm_base/../images/oberlandwetter/' ~ icon ~ '.svg', ignore_missing = true) }}
{% endapply %}{% endmacro %}

{% macro render(element, hour) %}
  {% import _self as oberlandwetter %}
  <div class="weather__line weather__line--icon_temp">
    <span class="weather__icon">{{ oberlandwetter.icon( attribute(element.symbols, 'symbol' ~ hour) ?? element.symbol) }}</span>
    <span class="weather__temp">{{ attribute(element.temps, 'temp' ~ hour) }}°</span>
  </div>
  {#
  <div class="weather__line weather__line--desc">
    <span class="weather__text weather__text--desc">{{ element.symbol.attributes.desc }}</span>
  </div>
  #}
{% endmacro %}
