<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    {% block user_settings %}
      {% if dgm.user %}
        <style data-dgm-css-type="base-user-settings">
          :root {
            --color--highlight: {{ dgm.user.field_color.0.value }};
            --color--highlight-inverse: {{ dgm.user.field_color_inverse.0.value }};
            --color--highlight-accent: {{ dgm.user.field_color_accent.0.value }};
          }
        </style>
      {% endif %}
    {% endblock %}
  </head>
  <body{{ attributes.addClass('wt') }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
